/* Style component Header App */

#header-app {
    border-bottom: 1px solid #EFEFEF;
    background-color: #ffffff;
}

#header-app .navbar .navbar-nav li.nav-item {
    display: inline-block;
    font-size: 14px;
}

#header-app .navbar{
    padding: 1rem;
}

#logo-app {
    width: 138px;
    height: auto;
}