/* Style component Header App */

#header-app {
    border-bottom: 1px solid #EFEFEF;
    background-color: #ffffff;
}

#header-app .navbar .navbar-nav li.nav-item {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

#header-app .navbar{
    padding: 1rem;
}

#logo-app {
    width: 130px;
    height: auto;
}

#header-app .navbar .navbar-nav li.nav-item .icon-nav {
    width: 22px;
    height: auto;
}

.counter-panier {
    position: absolute;
    top: 0;
    right: 0;
    background: #24dbcf;
    height: 18px;
    color: #ffffff;
    font-size: 9px;
    line-height: 19px;
    width: 18px;
    text-align: center;
    border-radius: 70px;
}

