#footer-app{
    background-color: #2C3948;
    padding: 30px 0;
    color: #DDDDDD;
    font-size: 14px;
    font-weight: lighter;
}

#logo-footer {
    width: 120px;
    height: auto;
}

#btn-call{
    background-color: #24DBCF;
    padding: 18px 28px;
    border-radius: 4px 0 0 0;
    color: #ffffff;
    z-index: 2;
    position: fixed;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 16px;
    bottom: 0;
    right: 0;
}

/* responsive */

@media screen and (max-width: 600px)
{
    #btn-call {
        border-radius: 0;
        display: block;
        text-align: center;
        position: relative;
        font-size: 14px;
    }
}