<html>
    <head>
        <meta charset="utf-8"/>
        <title>bc</title>
    </head>
    <body>
        <div>
            <table width="100%">
                <tr>
                    <td height="50px"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <p><strong>Association xxx:</strong></p>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td height="50px"></td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="50%">
                        <p>XXX</p>
                    </td>
                    <td width="50%">
                        <p><strong>Bon de commande num. : {BCID}</strong></p>
                        <p><strong>Date de la commande:</strong> {DATE_BC}</p>
                        <p><strong>Validation par le titulaire:</strong> {DATE_BC}</p>
                        <p><strong>Accord-cadre num. :</strong> {XXX}</p>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td height="50px"></td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td  width="50%">
                        <p><strong>Acheteur</strong></p>
                        <ul>
                            <li>
                                <p><strong>Organisme: </strong>{BCID}</p>
                            </li>
                            <li>
                                <p><strong>Nom du contact: </strong>{BCID}</p>
                            </li>
                            <li>
                                <p><strong>Mail: </strong>{BCID}</p>
                            </li>
                            <li>
                                <p><strong>Téléphone: </strong>{BCID}</p>
                            </li>
                            <li>
                                <p><strong>Adresse postale de la facturation:</strong> {BCID}</p>
                            </li>
                        </ul>
                    </td>
                    <td  width="50%">
                        <p><strong>Prestataire - titulaire du marché</strong></p>
                        <ul>
                            <li>
                                <p><strong>Organisme: </strong>{BCID}</p>
                            </li>
                            <li>
                                <p><strong>Nom du contact: </strong>{BCID}</p>
                            </li>
                            <li>
                                <p><strong>Mail: </strong>{BCID}</p>
                            </li>
                            <li>
                                <p><strong>Téléphone: </strong>{BCID}</p>
                            </li>
                            <li>
                                <p><strong>Adresse postale: </strong> {BCID}</p>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td height="50px"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <p><strong>Adresse exacte de l’intervention:</strong> 56 Allée des stands 27002 Evreux</p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <p><strong>Message libre de l’acheteur à l’attention du prestataire:</strong> Nous attirons votre attention sur la présence de la ligne haute tension sur le chantier. Nous avons un impératif de fermeture du chantier entre le 1 décembre et le 4 décembre. Merci de contacter notre DGS pour plus d’information. Les documents en notre possession sont téléchargeables sur le lien suivant : www.hkgkghkjh.com</p>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td height="50px"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <p><strong>Détail de la commande:</strong></p>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <th style="border:1px #000 solid;text-align:left">
                        <p><strong>Secteur</strong></p>
                    </th>
                    <th style="border:1px #000 solid;text-align:left">
                        <p><strong>Lot</strong></p>
                    </th>
                    <th style="border:1px #000 solid;text-align:left">
                        <p><strong>Titulaire</strong></p>
                    </th>
                    <th style="border:1px #000 solid;text-align:left">
                        <p><strong>Article</strong></p>
                    </th>
                    <th style="border:1px #000 solid;text-align:left">
                        <p><strong>Prestation</strong></p>
                    </th>
                    <th style="border:1px #000 solid;text-align:right">
                        <p><strong>Unité</strong></p>
                    </th>
                    <th style="border:1px #000 solid;text-align:right">
                        <p><strong>Prix Unitaire</strong></p>
                    </th>
                    <th style="border:1px #000 solid;text-align:right">
                        <p><strong>Quantité</strong></p>
                    </th>
                    <th style="border:1px #000 solid;text-align:right">
                        <p><strong>Total HT</strong></p>
                    </th>
                </tr>
                <tr>
                    <td style="border:1px #000 solid;text-align:left">xx</td>
                    <td style="border:1px #000 solid;text-align:left">xx</td>
                    <td style="border:1px #000 solid;text-align:left">xx</td>
                    <td style="border:1px #000 solid;text-align:left">xx</td>
                    <td style="border:1px #000 solid;text-align:left">xx</td>
                    <td style="border:1px #000 solid;text-align:right">xx</td>
                    <td style="border:1px #000 solid;text-align:right">xx</td>
                    <td style="border:1px #000 solid;text-align:right">xx</td>
                    <td style="border:1px #000 solid;text-align:right">xx</td>
                </tr>
            </table>
        </div>
    </body>
</html>