#centralisNav{
    text-align: center;
    padding: 12px 0;
    background: #ffffff;
    font-size: 14px;
    z-index: 2;
}

.nav-sticky {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.01);
}

.nav-sticky + .section-page{
    padding-top: 70px;
}

#centralisNav ul{
    padding: 0;
    margin: 0;
}

#centralisNav li a {
    padding: 8px 18px;
    display: inline-block;
    font-size: 14px;
}

#centralisNav li a:hover,
#centralisNav li a:active,
#centralisNav li a:focus{
    color: #2C3948;
    font-weight: 500;
    border-radius: 4px;
    background-color: #EBEEFD;
}

#centralisNav li {
    display: inline-block;
    padding: 0px 4px;
    border-right: 1px solid #EFEFEF;
}

#centralisNav li:last-child{
    border-right: 0;
}