#centralisNav{
    text-align: center;
    padding: 8px 0;
    background: #ffffff;
    font-size: 14px;
    z-index: 2;
}

.sticky-nav-fixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

#centralisNav ul{
    padding: 0;
    margin: 0;
}

#centralisNav li a {
    padding: 14px 18px;
    display: inline-block;
}

#centralisNav li a:hover,
#centralisNav li a:active,
#centralisNav li a:focus{
    color: #2C3948;
    font-weight: 500;
    background-color: #EBEEFD;
}

#centralisNav li {
    display: inline-block;
    padding: 10px 6px;
    border-right: 1px solid #EFEFEF;
}

#centralisNav li:last-child{
    border-right: 0;
}