#Filters{
    padding: 16px 0;
    position: relative;
    background: linear-gradient(to right, rgba(130, 140, 236, 100), rgba(75, 89, 224, 100));
}

#Filters .form-control {
    padding: 0.9rem 3rem 0.9rem 0.8rem;
    font-size: 14px;
    line-height: 1.5;
    border: 0px;
    border-radius: .20rem;
    font-weight: 300;
}

#Filters .form-control::placeholder {
    color: #565f65;
}

ul.category-filter {
    background: #ffffff;
    border-radius: .20rem;
    padding: 7px;
    margin: 0;
    font-size: 14px;
}

ul.category-filter li:first-child{
    border-right: 1px solid #EFEFEF;
}

ul.category-filter li{
    display: inline-block;
    width: 50%;
    text-align: center;
}

ul.category-filter li a {
    background: #ffffff;
    cursor: pointer;
    display: block;
    transition-duration: 0.4s;
    border-radius: 4px;
    padding: 8px 9px;
}

ul.category-filter li a:hover{
    background: #EBEEFD;
}

.blocked-filter {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    cursor: pointer;
    left: 0;
    z-index: 2;
    top: 0;
}

.icon-search img {
    width: 18px;
    height: auto;
}

.icon-search {
    position: absolute;
    top: 50%;
    transform: translate(0%, -60%);
    right: 30px;
}