/* Style global */

html, body, #root, .root-inside{
    height: 100%;
}

.main {
    height: auto;
    padding-top: 72px;
    min-height: 100%;
}

.p-section-bloc{
    padding: 100px 0;
}

.p-section{
    padding: 0 0 30px 0;
}

body {
    background-color: rgba(234, 239, 245, 100);
    font-family: 'Work Sans', sans-serif;
    color: #2C3948;
    font-size: 15px;
}

a {
    color: inherit;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

a:hover{
    color: #17D5C8;
    text-decoration: inherit;
    transition-duration: 0.4s;
}

b {
    font-weight: 500;
    color: #2C3948;
}

button:focus {
    outline: none;
}

.container{
    max-width: 1245px;
}

.preloader{
    background-color: #ffffff;
    height: 44px;
    width: 44px;
    display: inline-block;
    border-radius: 60px;
    border: 1px solid #D9E1E8;
    padding: 8px;
    box-shadow: 0px 2px 16px rgba(61, 68, 139, 0.1);
}

.preloader img{
    fill: #ffffff;
    animation: preloaderAnimate 1s linear infinite;
    height: auto;
    width: 26px;
}

.preloader-connect-user {
    display: inline-block;
    margin-left: 10px;
}

.preloader-connect-user img{
    fill: #ffffff;
    animation: preloaderAnimate 1s linear infinite;
    height: auto;
    width: 16px;
}

@keyframes preloaderAnimate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.article-bloc {
    padding: 10px 20px;
    display: block;
    background: #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    line-height: 18px;
    color: #565F65;
    font-weight: lighter;
    -moz-border-radius: 4px;
    border: 1px solid #D9E1E8;
    margin-bottom: 4px;
    box-shadow: 0px 2px 16px rgba(61, 68, 139, 0.05);
}

.select-product{
    display: inline-block;
    width: auto;
    font-size: 0.7rem;
}

.article-bloc .row {
    align-items: center;
}

.article-bloc p{
    margin: 0;
}

.card{
    border: 0px;
}

.card-body {
    padding: 0;
    border-top: 1px solid #D9E1E8;
    padding-top: 17px;
    padding-bottom: 10px;
    margin-top: 10px;
    line-height: 18px;
}

.btn-green{
    background-color: #24DBCF;
    padding: 14px 20px;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.btn-white{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 10px 16px;
    display: inline-block;
    font-weight: 500;
    border-radius: 4px;
    color: #000000;
    font-size: 12px;
    cursor: pointer;
}

.btn-green:hover{
    background-color: #565f65;
}

#btn-call:hover{
    background-color: #15c3b7;
}

/* bloc lot */
.title-bloc-lot{
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 22px;
    color: #17D5C8;
    padding: 20px 35px;
    border: 1px solid #D9E1E8;
    font-weight: 500;
    margin-bottom: 11px;
    box-shadow: 0px 2px 16px rgba(61, 68, 139, 0.05);
}

.title-bloc-lot > p{
    margin-bottom: 0;
}

.bloc-lot {
    margin-bottom: 5px;
}

/* cookies notice */
#cookie-notice{
    position: fixed;
    left: 20px;
    font-size: 14px;
    color: #ffffff;
    bottom: 20px;
    background: linear-gradient(to right, rgba(130, 140, 236, 100), rgba(75, 89, 224, 100));
    padding: 26px;
    border-radius: 4px;
    box-shadow: 0 0px 20px rgba(61, 68, 139, 0.2);
    width: 470px;
    z-index: 2;
}

#cookie-notice .btn-green {
    text-transform: inherit;
    display: inline-block;
    width: auto;
    font-size: 12px;
    padding: 10px 15px;
}

.displayBlocOpacity{
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.2s;
    margin-left: -580px;
}


/* senovea page supplier */

.senovea-page-supplier{
    padding: 100px;
}
.senovea-page-supplier-wrap{
    background: #FFF;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #D9E1E8;
    box-shadow: 0px 2px 16px rgba(61, 68, 139, 0.05);
}
.senovea-page-supplier-title{
    font-size: 22px;
    color: #17D5C8;
    font-weight: 500; 
}

/* page détail panier */

.section-infos-detail-panier{
    padding: 16px 0;
    background: linear-gradient(to right, rgba(130, 140, 236, 100), rgba(75, 89, 224, 100));
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: lighter;
}

.section-infos-detail-panier b{
    color: #ffffff;
}

.section-infos-detail-panier .row{
    align-items: center;
}

.date-detail-panier{
    font-size: 21px;
}

.title-infos-detail-panier {
    text-align: center;
    margin-bottom: 0;
    font-size: 22px;
 }
/* panier */

.bloc-panier{
    border-radius: 4px;
    font-size: 22px;
    padding: 25px;
    border: 1px solid #D9E1E8;
    font-weight: 500;
    margin-bottom: 11px;
    box-shadow: 0px 2px 16px rgba(61, 68, 139, 0.05);
    background:#FFF;
}

.bloc-panier-sent{
    background:linear-gradient(to right, rgba(130, 140, 236, 100), rgba(75, 89, 224, 100));
    color:#FFF;
}

.title-panier{
    font-size: 22px;
    margin: 0;
    width: 100%;
    text-align: right;
}

.bloc-panier-sent .statut-panier{
    background-color: #ffffff;
    color: #6B77E7;
}

.list-infos-panier{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.list-infos-panier b, .date-panier b{
    font-weight: 500;
    color: #ffffff;
}

.date-panier {
    font-size: 20px;
    font-weight: 300;
}

.list-infos-panier li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #9DA9E8;
}

.list-infos-panier li:last-child{
    padding-right: 0;
    border: 0;
}

.list-infos-panier li:first-child{
    padding-left: 0;
}

.bloc-panier-table{
    width: 100%;
    box-shadow: 0px 2px 16px rgba(61, 68, 139, 0.05);
    border-radius: 4px;
    background:#FFF;
    display:none;
}
.bloc-panier-table p{
    margin:0;
}
.bloc-panier-table > .bloc-panier-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1px;
    border-bottom:1px rgba(234, 239, 245, 100) solid;
}

.bloc-panier-table > .bloc-panier-header > div{
    margin: 0;
    font-size:12px;
    font-weight: 600;
    color: #000;
    padding: 15px;
    width:14% !important;
}
.bloc-panier-table > .bloc-panier-header > div.bloc-panier-header-lot{
    width: 16% !important;
}

.bloc-panier-content-lot{
    margin-bottom:1px;
   
}


.bloc-panier-content-lot .bloc-panier-content-lot-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px rgba(234, 239, 245, 100) solid;
}
.bloc-panier-content div:last-child .bloc-panier-content-lot:last-child  .bloc-panier-content-lot-header{
    border-bottom:none;
}
.bloc-panier-content-lot .bloc-panier-content-lot-header > div{
    margin: 0;
    font-size:12px;
    font-weight: 400;
    color: #000;
    padding: 5px 15px;
    width:14% !important;
}
.bloc-panier-content-lot .bloc-panier-content-lot-header > div.bloc-panier-content-lot-header-lot{
    width: 16% !important;
}

.bloc-panier-content-lot .bloc-panier-content-lot-content{
    display: none;
}












.header-bloc-panier {
    padding: 30px 15px;
}

.statut-panier {
    color: #ffffff;
    background: #6B77E7;
    margin-right: 16px;
    font-size: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 6px 10px;
    text-transform: uppercase;
}

.count-lots-panier{
    font-size: 20px;
}

.bloc-panier button.btn-green {
    width: 160px;
    padding: 10px 10px;
    font-size: 12px;
}

.bloc-suppliers{
    border: 1px solid #d9e1e8;
    box-shadow: 0px 2px 16px rgba(61, 68, 139, 0.05);
    border-radius: 4px;
    overflow: hidden;
}

.bloc-suppliers li{
    list-style-type: none;
    line-height: 30px;
}

.bloc-about {
    background: #ffff;
    margin: 0;
}

.content-bloc {
    padding: 50px 60px 40px 60px;
}

.content-bloc h3{
    font-size: 24px;
    margin-bottom: 37px;
}

.content-bloc-img {
    position: relative;
    overflow: hidden;
}

.content-bloc-img img {
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.section-bloc-about{
    margin-bottom: 20px;
}

.section-bloc-about:last-child{
    margin-bottom: 60px;
}

.list-section-about {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.list-section-about li {
    margin-bottom: 20px;
    padding-left: 70px;
    position: relative;
}

.icon-list-about {
    background: #2C3948;
    height: 33px;
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    width: 33px;
    color: #ffffff;
    position: absolute;
    left: 0;
    border-radius: 44px;
    top: 0;
}

.section-bloc-about .list-section-about .link-bloc-about{
    color: #237CE2;
    cursor: pointer;
}

.section-bloc-about .list-section-about .link-bloc-about:hover{
    color: #24DBCF;
}

.list-section-about li:last-child{
    margin: 0;
}

.table thead th, .table td, .table th{
    border: 0;
    vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: #EBEEFD;
}

.table-striped tbody tr:nth-of-type(odd) td {
    font-weight: bold;
}

.nav-account {
    padding: 15px 36px;
    margin: 0;
    border: 1px solid #D9E1E8;
    background-color: #ffffff;
}

.nav-account li {
    list-style-type: none;
    padding: 10px 0px;
}

.nav-account li .active{
    font-weight: 600;
}

.btn-quantity-count {
    background: none;
    border: 1px solid #dddddd;
    padding: 4px 6px;
    cursor: pointer;
}

.count-quantity {
    width: 25px;
    text-align: center;
}